.light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.897);
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: none;
  box-sizing: border-box;
}


.light_box .inside_box {
  background: white;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 30px;
  position: relative;
}

.light_box .inside_box img {
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
}




.light_box .inside_box button {
  color: white;
  background-color: rgba(0, 0, 0, 0.529);
  border: none;
  padding: 2px 8px;
  border-radius: 12px;

  position: absolute;
  top: 0px;
  left: 95%;
}